<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/starter-template.css" rel="stylesheet">
   
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <br><br>

    <main class="container">

    <div class="starter-template">
        <h2>Discover the next Twitch star!</h2>
        <p>What kind of streamer are you looking for?</p>
    </div>

      <div role="main" class = "container">
      <h5>How 1337 is the gamer?</h5>
      <form  action="/output" method="GET">

        <div class="checkbox">
          <label for="tier_challenger">Challenger (top 0.02%)</label>
          <input type="checkbox" id="tier_challenger" name="tier_challenger">
          &nbsp;
          <label for="tier_grandmaster">Grandmaster (top 0.06%)</label>
          <input type="checkbox" id="tier_grandmaster" name="tier_grandmaster">
          &nbsp;
          <label for="tier_master">Master (top 0.1%)</label>
          <input type="checkbox" id="tier_master" name="tier_master">
          <br>
          <label for="tier_diamond">Diamond (top 3.6%)</label>
          <input type="checkbox" id="tier_diamond" name="tier_diamond">
          &nbsp;
          <label for="tier_platinum">Platinum (top 18%)</label>
          <input type="checkbox" id="tier_platinum" name="tier_platinum">
          &nbsp;
          <label for="tier_gold">Gold (top 49%)</label>
          <input type="checkbox" id="tier_gold" name="tier_gold">
          <br>
          <label for="tier_silver">Silver (top 82%)</label>
          <input type="checkbox" id="tier_silver" name="tier_silver">
          &nbsp;
          <label for="tier_bronze">Bronze (top 98%)</label>
          <input type="checkbox" id="tier_bronze" name="tier_bronze">
          &nbsp;
          <label for="tier_Iron">Iron (top 100%)</label>
          <input type="checkbox" id="tier_iron" name="tier_iron">
        </div>

        <div class="form-group">
          <label for="rank">Rank:</label>
          <input type="text" id="rank" name="rank" placeholder="e.g. I">
        </div>

        <div>
          <button type="submit" class="btn btn-default btn-lg">Find these Streamers!</button>
        </div>

      </form>
      </div>

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>

      </main> <!-- /.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

  <script src="static/js/bootstrap.min.js"></script>

  </body>
</html>

