<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Twitch Talent: Wish Upon A Star</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/starter-template.css" rel="stylesheet">
   
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #6441A4;">
      <a class="navbar-brand" href="./"><span style="color: white; ">New Search</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap"> -->
        <div class="container justify-content-md-end">
        <a class="navbar-brand mx-0 d-none d-md-inline"> <span style="color: white; font-size: xx-large">Twitch Talent</span> </a>
        </div>
    </nav>

    <br><br>

    <main class="container">

    <div class="starter-template">
        <h2>Discover the next Twitch star!</h2>
        <p class="lead">What kind of streamer are you looking for?</p>
    </div>

      <div role="main" class = "container">
      <form  action="/output" method="GET">
        <h5>How 1337 is the gamer? (OR query)</h5>
        <div class="checkbox">
          <label for="tier_challenger">Challenger (top 0.02%)</label>
          <input type="checkbox" id="tier_challenger" name="tier_challenger">
          &nbsp;
          <label for="tier_grandmaster">Grandmaster (top 0.06%)</label>
          <input type="checkbox" id="tier_grandmaster" name="tier_grandmaster">
          &nbsp;
          <label for="tier_master">Master (top 0.1%)</label>
          <input type="checkbox" id="tier_master" name="tier_master">
          <br>
          <label for="tier_diamond">Diamond (top 3.6%)</label>
          <input type="checkbox" id="tier_diamond" name="tier_diamond">
          &nbsp;
          <label for="tier_platinum">Platinum (top 18%)</label>
          <input type="checkbox" id="tier_platinum" name="tier_platinum">
          &nbsp;
          <label for="tier_gold">Gold (top 49%)</label>
          <input type="checkbox" id="tier_gold" name="tier_gold">
          <br>
          <label for="tier_silver">Silver (top 82%)</label>
          <input type="checkbox" id="tier_silver" name="tier_silver">
          &nbsp;
          <label for="tier_bronze">Bronze (top 98%)</label>
          <input type="checkbox" id="tier_bronze" name="tier_bronze">
          &nbsp;
          <label for="tier_Iron">Iron (top 100%)</label>
          <input type="checkbox" id="tier_iron" name="tier_iron">
        </div>
        <br>
        <h5>Typical stream time (Day of Week)? (AND query)</h5>
        <div class="checkbox">
          <label for="tow_monday">Monday</label>
          <input type="checkbox" id="tow_monday" name="tow_monday">
          &nbsp;
          <label for="tow_tuesday">Tuesday</label>
          <input type="checkbox" id="tow_tuesday" name="tow_tuesday">
          &nbsp;
          <label for="tow_wednesday">Wednesday</label>
          <input type="checkbox" id="tow_wednesday" name="tow_wednesday">
          &nbsp;
          <label for="tow_thursday">Thursday</label>
          <input type="checkbox" id="tow_thursday" name="tow_thursday">
          &nbsp;
          <label for="tow_friday">Friday</label>
          <input type="checkbox" id="tow_friday" name="tow_friday">
          &nbsp;
          <label for="tow_saturday">Saturday</label>
          <input type="checkbox" id="tow_saturday" name="tow_saturday">
          &nbsp;
          <label for="tow_sunday">Sunday</label>
          <input type="checkbox" id="tow_sunday" name="tow_sunday">
        </div>
        <br>
        <h5>Typical stream time (Time of Day)?</h5>
        <div class="form-group">
          <label for="tod_start">Start Time (0 to 23):</label>
          <input type="text" id="tod_start" name="tod_start" placeholder="e.g. 10">
          <br>
          <label for="tod_end">End Time (0 to 23):</label>
          <input type="text" id="tod_end" name="tod_end" placeholder="e.g. 17">
        </div>

        <div>
          <button type="submit" class="btn btn-default btn-lg">Find Streamer!</button>
        </div>

      </form>
      </div>

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>

      </main> <!-- /.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

  <script src="static/js/bootstrap.min.js"></script>

  </body>
</html>

